.nav {
    height: 90px;
}
.search {
    border: 1px solid black;
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 10px 30px;
}
ul li ul.dropdown {
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    width: 100%;
    background: white;
    color: black;

}
ul li:hover ul.dropdown {
    display: block;
}
.search { 
    position: relative;
}

.input-search {
    position: absolute;
    right: 20%;
    opacity: 0;
}
/* .input-search:hover {
    opacity: 1;
    transition: 0.5s;
} */

.hover:hover .input-search {
    opacity: 1;
    transition: 0.3s;
    box-shadow: 3px 3px 2px#343030;
}

/* footer */

.footer {
    position: relative;
    width: 100%;
}
.content-footer {
    position: absolute;
    top: 20%;
    color: white;
}

.img-footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
}
.img-footer img {
    object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}
.content-footer .test {
    margin-right: 10px;
}

.end-footer {
    height: 50px;
    background-color: #595252;
    color: white;
    
}




/* main */
.main-container{
    width: 80%;
    margin: 0px auto;
}

.tilte{
    position: relative;
}

.tilte .before-main::before {
    content: "";
    width: 85%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0%;
    left: 15%;
    opacity: 50%;
}

.before-main::before {
    content: "";
    width: 75%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 50%;
}

/* container-list */

.box{
    width: 23%;
    height: initial;
    padding-bottom: 20px;

}



/* new-prroduct */
.new-product .before-main::before {
    content: "";
    width: 80%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0%;
    left: 20%;
    opacity: 50%;
}


/* section-wapnamwatch */

.img-slide.next {
    right: 97%;
}

.img-slide .stop {
    left: 69%;
}

/* tesst */
.slick-dots {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
  }
  .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #eee;
    border: none;
    outline: none;
    transition: all 0.2s linear;
  }
  .slick-dots .slick-active button {
    background-color: #2cccff;
  }

  /* sale-product */
  .sale-product .before-main::before {
    content: "";
    width: 70%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0%;
    left: 30%;
    opacity: 50%;
}

.img-news:hover {
   transition: 1s ;
}


/* form-buy-cart */
.form-buy form input{
    margin: 5px 0px ;
    border-radius: 5px;
    border: 1px solid gray;
}
.form-buy form input:hover {
    border: 1px solid blue;
}
.address {
    position: relative;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 100%;
    height: 70rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}



/* on click event */



.banner {
    position: absolute;
    top: 25%;
    left: -30rem; /*after click event 40rem*/
    text-align: center;
    color: #fff;
    width: 30rem;
    z-index: 100;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .banner {
    left: 5rem;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.banner p {
    font-size: 2rem;
}

.sign-up {
    width: 60rem;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 0;
    z-index: 1;/*after click event delete*/
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .sign-up {
    left: 40rem;
    z-index: 1;
}
.sign-up h1 {
    font-size: 4rem;
    color: #3aaf9f;
}

.social-media {
    display: flex;
}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 00.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 2rem;
    color: #555;
}

.sign-up p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 28rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}

.sign-up button {
    width: 16rem;
    height: 5rem;
    background-color: #3aaf9f;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 3rem;
    cursor: pointer;
}
